/** FONTS **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

/** MIXIN **/
@import "./mixin";

/** RESETS **/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/** VARIABLES **/
$primary-font: "PT Serif", serif;
$secondary-font: "Poppins", sans-serif;
$terciary-font: "Montserrat", serif;

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 600;
$font-weight-4: 700;

$grey-1: #a9a9a9;
$black-1: #000;
$white-1: #fff;

$text-xs: 0.75rem; // 12
$text-sm: 0.875rem; // 14
$text-md: 1.125rem; // 18
$text-lg: 2.25rem; // 36

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

$rounded-sm: 8px;
$rounded: 16px;

$shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

.container {
  max-width: 960px;
  margin: 4rem auto 0;
  padding: 0 1rem;
}

/** MAIN CODE **/

/** HEADER **/

.header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
  @include maxWidth(800px) {
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 0rem;
  }

  &__title {
    font-family: $primary-font;
    font-size: $text-lg;
    font-weight: $font-weight-4;
    line-height: 48px;
    letter-spacing: -0.045em;
    min-width: 45%;
    align-self: flex-start;
  }

  &__box {
    max-width: 55%;
  }

  &__box_subtitle {
    font-family: $secondary-font;
    font-size: $text-md;
    font-weight: $font-weight-3;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__box-description {
    font-family: $secondary-font;
    font-size: $text-md;
    font-weight: $font-weight-1;
    line-height: 27px;
  }
}

/** MAIN **/

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  column-gap: 6rem;
  margin-bottom: 4rem;
  @include maxWidth(800px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    padding-right: 1rem;
  }
}

.card {
  max-width: 300px;
  max-height: 450px;
  position: relative;

  &:nth-of-type(3n + 2) {
    margin-top: 4rem;
    @include maxWidth(800px) {
      margin-top: initial;
    }
  }

  &:nth-of-type(2n) {
    @include maxWidth(800px) {
      margin-top: 4rem;
    }
  }

  &:nth-of-type(5n) {
    @include maxWidth(800px) {
      align-self: start;
    }
  }

  &__job {
    text-transform: uppercase;
    font-family: $primary-font;
    font-weight: $font-weight-1;
    font-size: $text-xs;
    line-height: 1.6rem;
    position: absolute;
    width: 100%;
    left: 95%;
    transform: rotate(90deg);
    transform-origin: 1.6rem 100%;
    @include maxWidth(800px) {
      left: 95%;
    }
    @include maxWidth(700px) {
      left: 92%;
    }
    @include maxWidth(425px) {
      left: 85%;
      font-size: 10px;
    }
    @include maxWidth(380px) {
      left: 80%;
      font-size: 10px;
    }
  }

  &__name {
    font-family: $secondary-font;
    font-weight: $font-weight-3;
    font-size: $text-md;
    line-height: 27px;
    text-transform: capitalize;
    margin-top: 1rem;
  }
}

/** FOOTER **/

.footer {
  text-align: center;
  padding: 1.5rem 0;
  color: $grey-1;
  font-family: $terciary-font;
  font-weight: $font-weight-2;
  font-size: $text-sm;
  line-height: 17px;
  width: 100%;

  &__username {
    font-weight: $font-weight-4;
  }
}
